<h2>Internal blog</h2>
<h3>Child app posts view</h3>
{{#link-to-external "homePosts"}}App posts{{/link-to-external}}
{{#each model.posts as |post|}}
  <p>
    {{post.id}}<br>
    {{post.pType}}<br>
    {{post.pTitle}}<br>
    {{post.pSlug}}<br>
    {{post.pDate}}<br>
    {{post.pText}}<br>
    {{post.pAuthor}}<br>
    {{post.pImage}}<br>
    {{post.pMedia}}<br>
    {{post.pStatus}}<br>
    {{post.pExpiry}}<br>
    {{post.pFreq}}<br>
    {{post.createdAt}}<br>
    {{post.updatedAt}}
  </p>
{{/each}}
{{outlet}}
